*, ::before, ::after {
    box-sizing: border-box;
}

:root{
    --background-colour: #f0f0f0;
    --box-background-colour: #fff;
    --container-radius: 0.5em;
    --loading-colour: #ededed;
}

body, h1, h2, p, ul, li, div{
    margin: 0;
    padding: 0;
    position: relative;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-colour);
}

.container {
    max-width: 85%;
    background-color: var(--box-background-colour);
    border-radius: var(--container-radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.3%;
}

#section-1{
    display: flex;
    align-items: center;
}

img {
    font-family: Arial, sans-serif;
    line-height: 45em;
    font-size: 1em;
    text-align: center;

    min-width: 300px;
    min-height: 50px;
    position: relative;
    border-radius: calc(var(--container-radius) / 2);
}

img::before {
    content: 'Image failed to load';
    width: 100%;    
    height: 100%;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
}

#section-1 img {
    max-width: 50%;
    height: auto;
    width: 100%;
}

#section-1 .content{
    flex: 1;
}

#name{
    text-transform: uppercase;
    color: #474747;
    font-family: sans-serif;
    letter-spacing: 0.5rem;
    font-weight: 700;
}

#title{
    text-transform: uppercase;
    color: #474747;
    font-family: sans-serif;
    letter-spacing: 0.25rem;
    font-weight: 300;
}

#introduction{
    color: #474747;
    font-family: sans-serif;
    letter-spacing: 0.025rem;
    font-size: 1.25em;
    line-height: 1.875;
    font-weight: 300;
    width: 95%;
}

#section-1 ul li {
    list-style: none;
    display: contents;
}

button{
    font-family: "Actor", sans-serif;
    width: 95%;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: var(--box-background-colour);
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
   
button:hover {
    color: black;
}
   
button:after {
    content: "";
    background: var(--box-background-colour);
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}
   
button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

:modal{
    background-color: var(--box-background-colour);
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.modal-content{
    text-align: center; 
}

#modal-contact h3, #modal-contact h2{
    font-family: sans-serif;
    padding: 0.5%;
    font-size: 150%;
}

.photos-section img{
    max-width: 40%;
    height: auto;
    width: 100%;
}

a{
    color: inherit;
}

a:hover{
    text-decoration: none;
}

p{
    font-size: 1.5em;
    padding: 0.5%;
    margin: 0.625em;
    font-family: "Actor", sans-serif;
}

.loading img {
  background-color: var(--loading-colour);
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .5) 50%,
    rgba(255, 255, 255, 0) 60%
  ) var(--loading-colour);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@media (max-width: 1048px) {
    .container{
        margin: 1%;
    }

    #section-1{
        padding: 1%;
        flex-direction: column-reverse;
    }

    #section-1 img {
        max-width: 100%;
    }
}