body {
    display: flex;    
    flex-direction: column;
    height: 100dvh;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

header, footer{
    background-color: rgba(0, 0, 0, 0.7);
}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    list-style: none;
}

button{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 2.5em;
    border-radius: 1em;
}


footer {
    padding: 0.5rem 0;    
}