body, h1, h2, p, ul, li{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../Image/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    padding: 1.5%;
}

.sr-only{
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
}

#name{
    height: auto;
    width: 57%;
}

#header-text{
    color: white;
    font-size: 137.5%;
    letter-spacing: 0.1rem;
    font-family: 'Orbitron', sans-serif;
}